.banner-img {

background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url("Header.jpg");
}

.banner-mid-img {

background-image: url("donne.jpg");
}

.our-journal-agence {
  position: relative;
  margin-top: -530px;
  padding-top: 415px;
}

.first-image  {
  background-image: url("Brand-content.jpg");
  background-size: cover !important;
}

.second-image  {
  background-image: url("Web-mobile.jpg");
  background-size: cover !important;
}

.third-image  {
  background-image: url("Web-marketing.jpg");
  background-size: cover !important;
}

.card-agence {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 54px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}


.card-agence p {
  padding: 5px;

}

.more-button-5 {
  background-color: #d44534;
  border: none;
  font-size: 24px;
  padding: 1% 1% 1% 1%;
  box-shadow: 0 15px 20px 0 rgba(169, 81, 77, 0.59);
  transform: uppercase;
  margin-top: -20px;
}

.instagram-pic {
  margin-bottom: 10px;
}

.instagram-pic img {
  width: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

.our-insta h3 {
  font-weight: bolder;
  width: 100vw;
  font-size: 46px;
  text-transform: uppercase;
  margin-left: -15px;
}

.our-insta span {
  color: #ee6b5b;
}

.techno-wrapper-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.techno-wrapper-b img {
  width: 45%;
}
.img-techno {
  text-align: center;
}

.techno-title h3 {
  font-weight: bolder;
  font-size: 36px;
  text-transform: uppercase;
}

.techno-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.techno-wrapper img {
  height: 100px;
}

.our-agency-page span {
  color: #ee6b5b;
}

.our-agency-page h3 {
  font-weight: bolder;
  font-size: 36px;
  text-transform: uppercase;
}

.our-agency-page p {
  font-size: 23px;
  color: rgba(119, 119, 119, 0.85);
  font-weight: 500;
  line-height: 1.3em;
  margin-top: 20px;
}

.menu-img-1  {
  background-image: url("Works.jpg");
  background-size: cover !important;
  width: 100%;
}

.menu-img-2 {
  background-image: url("Journal.jpg");
  background-size: cover !important;
  width: 100%;
}

.card-agence-bot {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 36px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.card-agence-bot p {
  text-align: right;
  padding: 5px;
  width: 100%;
  padding-right: 15px;
}

.flexed {
  display: flex;
  justify-content: space-around;
}
