.form-line label {
  display: none;
}

.form-line-1 {
  display: flex;
}

.form-line-2 {
  display: flex;
}

.form-line-3 {
  display: flex;
}

.form-line-4 {
  display: flex;
}

.form-line-5 {
  display: flex;


}

#info_first_name {
  border: none;
  box-shadow: none;
margin-bottom: 6px;
}

#info_first_name::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size:24px;

  color: #ee6b5b;
  font-size:24px;
}
#info_first_name::-moz-placeholder { /* Firefox 19+ */
  color: #ee6b5b;
  font-size:24px;
}
#info_first_name:-ms-input-placeholder { /* IE 10+ */
  color: #ee6b5b;
  font-size:24px;
}
#info_first_name:-moz-placeholder { /* Firefox 18- */
  color: #ee6b5b;
  font-size:24px;
}

#info_project {
  border: none;
  box-shadow: none;
margin-bottom: 6px;
}

#info_project::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ee6b5b;
  font-size:24px;
}
#info_project::-moz-placeholder { /* Firefox 19+ */
  color: #ee6b5b;
  font-size:24px;
}
#info_project:-ms-input-placeholder { /* IE 10+ */
  color: #ee6b5b;
  font-size:24px;
}
#info_project:-moz-placeholder { /* Firefox 18- */
  color: #ee6b5b;
  font-size:24px;
}

#info_entreprise {
  border: none;
  box-shadow: none;
margin-bottom: 6px;
  width: 130%;
}

#info_entreprise::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ee6b5b;
  font-size:24px;
}
#info_entreprise::-moz-placeholder { /* Firefox 19+ */
  color: #ee6b5b;
  font-size:24px;
}
#info_entreprise:-ms-input-placeholder { /* IE 10+ */
  color: #ee6b5b;
  font-size:24px;
}
#info_entreprise:-moz-placeholder { /* Firefox 18- */
  color: #ee6b5b;
  font-size:24px;
}

#info_email {
  border: none;
  box-shadow: none;
margin-bottom: 6px;
}

#info_email::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ee6b5b;
  font-size:24px;
}
#info_email::-moz-placeholder { /* Firefox 19+ */
  color: #ee6b5b;
  font-size:24px;
}
#info_email:-ms-input-placeholder { /* IE 10+ */
  color: #ee6b5b;
  font-size:24px;
}
#info_email:-moz-placeholder { /* Firefox 18- */
  color: #ee6b5b;
  font-size:24px;
}


#info_phone {
  border: none;
  box-shadow: none;
margin-bottom: 6px;
  width: 140%;
}

#info_phone::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ee6b5b;
  font-size:24px;
}
#info_phone::-moz-placeholder { /* Firefox 19+ */
  color: #ee6b5b;
  font-size:24px;
}
#info_phone:-ms-input-placeholder { /* IE 10+ */
  color: #ee6b5b;
  font-size:24px;
}
#info_phone:-moz-placeholder { /* Firefox 18- */
  color: #ee6b5b;
  font-size:24px;
}

.our-contact span {
  color: #ee6b5b;
}

.our-contact h3 {
  font-weight: bolder;
  width: 39vw;
  font-size: 70px;
  text-transform: uppercase;
  margin-left: -30px;
}


.our-contact img {
  width: 100%;
  height:100%;
}

.formed {
  text-align: center;
  display: flex;
  font-size: 24px;
  align-items:center;
}

.submit-button {
  display: flex;
  justify-content: center;
}

.contact-case {
  margin-bottom: 2em;
}

.contact-case h3 {
  color: #ee6b5b;
}

.contact-case p {
  font-size: 20px;
}

.menu-info-c i {
  margin-right: 1em;
}

body > div:nth-child(7) > div > div.menu-info-c.market-i > i.fa.fa-facebook {
  margin-left: 1em;
}
