<div class="container footer-wrapper">
  <div class="row">
  <div class="col-md-4 footer-left">
    <i class="fa fa-facebook"></i>
    <i class="fa fa-twitter"></i>
    <i class="fa fa-instagram"></i>
    <p>©2017 All Rights Reserved</p>
  </div>
  <div class="col-md-4 footer-mid">
  <div class="centred-button">
  <%= link_to "Montez à bord", pages_contact_path, class: "more-button-4" %>
  </div>

  </div>
  <div class="col-md-4 footer-right">
    <p>26 boulevard de la république</br>
    72100 Boulogne-Billancourt</p>
  </div>
  </div>
</div>
