  <div class="mainMenu">
  <div class="container">
  <div class="mainMenu__group">
    <div class="row">
      <div class="col-md-6">
      <ul class="menu-list-li">
        <li><%= link_to "L'Agence", pages_agence_path, class: "navbar-big-menu" %><li>
        <li><%= link_to "Works", pages_works_path, class: "navbar-big-menu" %><li>
        <li><%= link_to "Contact", pages_contact_path, class: "navbar-big-menu" %><li>
        </ul>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-4 navbar-text-right">
        <div class="menu-info-c">
        <p> 26 Boulevard de la République </br>
            Boulogne-Billancourt </br>
            92100 </p>
          </div>
          <div class="menu-info-c">
            <p> 27 rue cesar XVII </br>
            Nogent sur Marne </br>
            94130 </p>
            </div>
            <div class="menu-info-c">
            <p>Téléphone</br>
            +33 (0) 123 456 789</p>
            </div>
            <div class="menu-info-c market-i">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            </div>
      </div>
    </div>
    </div>
  </div>
</div>
