<div class="" id="navbar">
<div class="first-row-navbar first-row-navbar-fixed">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo-w.png", class: "logo-white" %>
    <%= image_tag "Tribord-B72.png", class: "hidden logo-black" %>
  <% end %>

  <!-- Right Navigation -->
    <!-- Button (call-to-action) -->
  <div class="navbar-wagon-item">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" id="burger-navbar" data-toggle="dropdown"></i>
    </div>
  </div>
</div>

    </div>
</div>
