<div class="banner-second banner-img banner-agence" >
  <div class="banner-second-content">
    <h1>Des processus poussés</br>
        pour chacun de vos projets</h1>
        <p>De la conception à la publication</p>
  </div>
  <div class="banner-padded"></div>
  <div class="banner-bottom">
  </div>
</div>
<div class="container our-journal-agence">
  <div class="row">
    <div class="col-xs-12">
      <div class="col-md-4">
        <div class="card card-agence first-image">
          <p>Brand Content</p>
          <div class="padded"></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-agence second-image">
          <p>Web Mobile</p>
          <div class="padded"></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-agence third-image">
          <p>Web Marketing</p>
          <div class="padded"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="padded"></div>


<div class="container our-agency">
  <div class="row">
    <div class="col-md-12 text-center">
    <h3><span>/</span>Notre méthode</h3>
    <div class="padded-little"></div>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa cum sociis natoque.</p>
    </div>
  </div>
</div>


<div class="padded"></div>


<div class="banner-mid-page banner-mid-img banner-agence text-center" >
    <button type="button" class="more-button-5">Voir ce que ça donne</button>
    <div class="padded-little"></div>
</div>

<div class="padded"></div>

<div class="container our-agency">
  <div class="row">
    <div class="col-md-12 text-center">
    <h3><span>/</span>Notre philosophie</h3>
    <div class="padded-little"></div>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa cum sociis natoque.</p>
    </div>
    <div class="centred-button">
        <%= link_to "NOS CONNAISSANCES", pages_agence_path, class: "more-button-3" %>
    </div>
  </div>
</div>

<div class="padded"></div>


<div class="container">
  <div class="row">
  <% @data.each_with_index do |a, i| %>
  <% break if i == 6 %>
    <div class="col-md-4 text-center instagram-pic">
    <% image = a["images"]["standard_resolution"]["url"] %>
    <%= image_tag image %>
    </div>
    <% end %>
  </div>
</div>
<div class="padded-little"></div>
    <div class="centred-button">
    <%= link_to "https://www.instagram.com/tribord_digital/" do %>
        <i class="fa fa-instagram" style="font-size: 32px;"></i>
    <% end %>
    </div>

<div class="padded"></div>
