<div class="banner-third banner-img-works banner-agence" >
  <div class="banner-third-content">
    <h1>WORKS</h1>
        <p>Découvrez nos réalisations</p>
  </div>
  <div class="banner-padded"></div>
  <div class="banner-bottom">
  </div>
</div>

<div class="container our-journal-agence">
  <div class="row">
    <div class="col-xs-12">
      <div class="col-md-6">
        <div class="card card-work image-1">
          <p>TV CATS</br>
          <span>Solution Mobile et M-paiement</span></p>
          <div style="padding-top: 10em;"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-work image-2 blacked">
          <p>ELLEDIVORCE</br>
          <span>Plateforme en ligne</span></p>
          <div style="padding-top: 10em;"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-work image-3">
          <p>MARCUS APER</br>
          <span>Plateforme de gestion AT/MP</span></p>
          <div style="padding-top: 10em;"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-work image-4">
          <p>LÉO VERRIER</br>
          <span>Site WEB</span></p>
          <div style="padding-top: 10em;"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-work image-5 blacked">
          <p>TV CATS</br>
          <span>Site WEB</span></p>
          <div style="padding-top: 10em;"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-work image-6">
          <p>AURÈS FLIGHT</br>
          <span>Site WEB Corporate</span></p>
          <div style="padding-top: 10em;"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="padded"></div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1 text-center sentence">Nous croyons en la créativité, nous respirons le branding et nous encapsulons l’ensemble dans de la technologie<i class="fa fa-circle orange-dot" aria-hidden="true"></i></div>
  </div>
</div>

<div class="padded"></div>
