/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.padded-little {
  padding-top: 1em;
  padding-bottom: 1em;
}


a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: white;
}

img {
  border-radius: 4px;
}

.menu-img-1 {
 border-radius: 4px;
}

.menu-img-2 {
 border-radius: 4px;
}

.card-agence {
  border-radius: 4px;
}

.o-hidden {
  overflow: hidden;
}

.o-normal {
  overflow: normal;
}
