.footer-mid {
  text-align: center;
}

.footer-right {
  text-align: right;
}

.footer-left i {
  margin-right: 5px;
}

.footer-wrapper {
  border: 1px solid #30384C;
  width: 100%;
  color: white;
  background: #30384C;
  padding: 4%;
}

.more-button-4 {
    background-color: #d44534;
    border: none;
    font-size: 24px;
    padding: 2% 3% 2% 3%;
    box-shadow: 0 15px 20px 0 rgba(169, 81, 77, 0.59);
    transform: uppercase;
    margin-top: -20px;
}
